// 내려 받은 후 자신의 Firebase Hosting 정보를 입력 후 화일명을 firebase.config.ts로 변경한다.
// Firebase 자바 스크립트 SDK v7.20.0 이상의 경우`measurementId`는 선택 필드입니다.
export default {
  apiKey: "API_KEY",
  authDomain: "PROJECT_ID.firebaseapp.com",
  databaseURL: "https://PROJECT_ID.firebaseio.com",
  projectId: "PROJECT_ID",
  storageBucket: "PROJECT_ID.appspot.com",
  messagingSenderId: "SENDER_ID",
  appId: "APP_ID",
  measurementId: "G-MEASUREMENT_ID",
};